<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link href="../../css/styles.css" rel="stylesheet" type="text/css">
    <title>UpdateMenu</title>
</head>
<body bgcolor="#E394FF">
<h1 class="text-center">Меню обновления</h1>
<div class="container">
    <div>
        <a class="button button3" href="/updateProject?method=2">Изменить проэкт</a>
    </div>
    <div>
        <a class="button button3" href="/updateDeveloper?method=2">Изменить разработчика</a>
    </div>
    <div>
        <a class="button button3" href="/updateCustomer?method=2">Изменить покупателя</a>
    </div>

    <div class="block_bottom">
        <a class="button button3" href="/">Вернуться в главное меню</a>
    </div>
</div>
</body>
</html>