<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link href="../../css/styles.css" rel="stylesheet" type="text/css">
    <title>CreateMenu</title>
</head>
<body bgcolor="#acffb5">
<h1 class="text-center">Меню создания</h1>
<div class="container">
    <div>
        <a class="button button1" href="/createProject">Создать новый проэкт</a>
    </div>
    <div>
        <a class="button button1" href="/createDev">Создать нового разработчика</a>
    </div>
    <div>
        <a class="button button1" href="/createCust">Создать нового заказчика</a>
    </div>
    <div class="block_bottom">
        <a class="button button4" href="/">Вернуться в главное меню</a>
    </div>
</div>
</body>
</html>