<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link href="../../css/styles.css" rel="stylesheet" type="text/css">
    <title>ReadMenu</title>
</head>
<body bgcolor="#94d9e7">
<h1 class="text-center">Меню чтения</h1>
<div class="container">
    <div>
        <a class="button button2" href="/getAllProjects">Вывод списка проэктов</a>
    </div>
    <div>
        <a class="button button2" href="/getAllDevelopers">Вывод списка разработчиков</a>
    </div>
    <div>
        <a class="button button2" href="/getAllCustomers">Вывод списка покупателей</a>
    </div>


    <div>
        <a class="button button2" href="/getOneProjectDevelopers?method=1">Вывод списка разработчиков отдельного проекта</a>
    </div>
    <div>
        <a class="button button2" href="/getJavaDevelopers">Вывод списка всех Java разработчиков</a>
    </div>
    <div>
        <a class="button button2" href="/getMiddleDevelopers">Вывод списка всех middle разработчиков</a>
    </div>
    <div>
        <a class="button button2" href="/getAllDevelopersOnProjects">Вывод списка проэктов и количества разработчиков на них</a>
    </div>
    <div class="block_bottom">
        <a class="button button2" href="/">Вернуться в главное меню</a>
    </div>
</div>
</body>
</html>