<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="connection.characterEncoding">UTF-8</property>

        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/homeworkonedb?useSSL=false</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">root</property>


        <property name = "show_sql">true</property>
        <property name = "format_sql">true</property>

        <!-- авто создание, если отсутствует таблица соответственно к анотациям или мапингу и изменение структуры
        таблиц (ALTER TABLE и тд) в следствии выполения кода java не желательно использовать в промышленом коде-->
        <!-- <property name = "hibernate.hbm2ddl.auto">update</property>> -->

        <mapping class="entities.Developer"/>
        <mapping class="entities.Projects"/>
        <mapping class="entities.Skills"/>
        <mapping class="entities.Companies"/>
        <mapping class="entities.Customers"/>

    </session-factory>

</hibernate-configuration>